<!-- connects to main -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Companion</title>
  <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div class="row" id="row1">
    <div class="item" id="title">Companion</div>
      </div>


        <div class="bb" id="info">Info</div>

    <form id=line1 method="post" action="/main">

        <div class="cc" id="row2_2">Username: </div>

      <!--  <div class="cc" id="row2">Password: </div>-->


      <br> <input type="text" name="user-fav-food" value="username"><br>
    <!--<br> <input type="text" name="user-first-ln" value="Password"><br>-->
          <input type="submit" value="Go!">

        </form>


      <div class="row" id="row3">
        <div class="item" id="Footer">Contact</div>
        <div class="item" id="Footer">Welcome</div>
        <div class="item" id="Footer">CSSI</div>
      </div>

    </body>
  </html>
