<!-- connects to main -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Companion</title>
  <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="row" id="row1">
        <div class="item" id="welcome">welcome</div>

      </div>
      <div class="row" id="row2">
        <div class="username" id="">username</div>
         <div class="password" id="">password</div>
        <div class="info" id="">Info</div>
      </div>
      <div class="row" id="row3">
        <div class="item" id="contact">Contact</div>
        <div class="item" id="welcome">Welcome</div>
        <div class="item" id="CSSi">CSSI</div>

      </div>
    </body>
  </html>
