<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Companion</title>
  <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div class="container">

      <p id="stry">story</p>
      <button class="butn" id="choice1">Choice 1</button>
      <button class="butn" id="choice2">Choice 2</button>
    </div>

    <button id="home" value="Home" onclick="history.back()">Home</button>


   <script>
   const stry = document.querySelector('#stry');
   const choice1 = document.querySelector('#choice1')
   const choice2 = document.querySelector('#choice2')

   choice1.innerHTML = "Venture out";
   choice2.innerHTML = "Search plane";


   var story = ["Your eyes shoot open to the distinct cold, wet feeling hitting your cheek. Cold sweat drips down your furrowed brow. You tilt your head ever so slightly to the left to see piercing brown eyes looking back at you. <br><br> Its Duke. <br><br> Thoughts begin to rush into your head. Where are you? Memories of you childhood and adolescence shoot back into your head, but your thoughts come to a halt, when you feel the stinging sensation against you leg. <br><br> You look down and around at your surroundings. You see metal tiles torn and strewn about the cabin of your now destroyed aircraft. Your leg is slightly injured from the impact. You know you’ll recover just fine with some tape and gauze. But for now you have to figure out where to go next. <br> Duke kneels down at your side. <br><br> Where to next?",
   "After a quick look around you see a tattered worn-down knapsack hanging from broken electrical wires. You search the canbins compartments and stumble across a half shattered flashlight. Good enough, but the exhaustion is getting to you.",
   "You step out the cavernous hole made from the demolished pilot wing. The overgrown grass sways above your knees. Large sequoia trees cover the ample sky above, their branches sprouting every direction. New sights and smells overwhelm your senses. You feel your heartbeat quicken, your environment makes you shudder. Duke seems to be enjoying himself. You see him smelling every plant, bush and tree in sight until he makes a sudden stop and begins trailing off deeper into the forest. You’re feeling cold and alone.",
   "You mustn't die of hypothermia, Duke is just exploring anyway. You step over the bounds of overgrown grass, dodging low hanging branches and ascending over fallen timber. Along the way picking up dry leaves and small twigs to use as kindle. Your hear the fibers in the tree twist and bend until an echoing crunch emanates from its severed stump. You move through the forest as swiftly as possible. Your callused hands reach for another branch when you hear a deafening, bitter outcry. It rolls across your ears like thunder from the clouds. You hear the sporadic flaps spring past the tall trees. The ground vibrates a low hum. Your unable to tell if it’s from the screech before or the creatures its' scared off.",
   "You inch your way further into the forest following the hollow screech you heard earlier. Your footsteps are agile. Duke trails behind you, matching your pace. You see tree’s breeze past you, your visions a hazy blur. What if it was a call for help? What if it is your call for help? A chance for rescue was one worth taking. These hopeful thoughts linger on your mind. Your optimism fuels your tenacity, your legs feel lighter than ever, but slowly your affirmations waste away. Hopeful thinking is not enough for survival. A scream as horrid as the one you heard isn't a rescue call it’s suici- <br><br> The corner of your eye... It’s just a glimpse. You see it. It towers at twice your size. It’s no animal, and it’s certainly not human. Adrenaline pumps into your heart, the silence eats away at your sanity. You only have time for instinct.",
   "Your mind doesn’t have time to catch up with your legs. You find yourself sprinting against the frigid wind. Heat rushes through your body. You pound your legs into the ground as if your strength could affect the laws of friction. Your wounds scream out in pain but you’re unable to feel it. Your adrenaline keeps you moving, the sound of footsteps keeps you running. ",
  "Your eyes widen with fear, your instinct tells you to hide. You dart across the woodlands, the sound of snarls following behind. Your lungs burning in pain. You feel as though you might faint. Rushing past the trees, the sounds of snapping twigs breaking beneath your feet. Every snap and crunch suddenly becoming louder until your muddled with noise. You can no longer hear your thoughts, only snaps and breaks",
   "You freeze into place. Its eyes meet your own, but you feel no life from them, they are white, hollow spheres- ruthless in nature, but they look right past you. Pass your sweating body and its’ pulsing heart, pass the desperation in your eyes.
You hold your breath, your chest pounding in and out as you bind it. You don’t make a move, nor a sound. Your eyes refusing to look away from its own. You notice Its skin is a pale, sickly color. How Its body resembles your own framework, but its eyes are sunken deep into its skull.
Its mouth opens, unhinging itself like a snake to reveal its rows of jagged and cleft teeth that spiral down into the back of its neck. It exhales. Its hot breath cloaks your face, invading your nose with the stench of its previous prey. Abrupt chirps are heard in the distance, immediately it throws its head back with a gritting violent screech and bounds towards the chirps.",
   "Your mouth is dry and stale, you feel worn-out and weak. You don’t allow yourself to rest out of fear that you might not wake up. There's been no source of water ever since you crashed, and if you don’t find some soon you might die of dehydration. Duke whines. He must be thirsty as well. You reach over to hold his somber head in your hands, reassuring him that you’ll survive. That you both will. <br><br> As you drag yourself off the ground, duke lets you stabilize yourself on him, aiding you as you walk. Twenty minutes goes by when you begin to hear the sounds of forest creatures scurrying around. Nature allows you a few seconds of peace and a new opportunity. To the left, you hear the vibration of rushing water. To the right is a drum of splashes and drips. <br><br> Where will you go next?",
   "If your memory serves you well rushing water leads to rivers which can lead to oceans. <br><br> You follow to the tune of water crashing against the rock beds, and within a couple of minutes, you're greeted with a large stream. Your lost affirmations of hope return to you. You grin ferociously into the sun. Running alongside duke downstream where the river terrain expands, soon the overbearing decrepit trees start to disperse, the coarse grassy lands you run on turn to rock and sand. In the distance you see a small brown speck, you pick up your pace. Laughing and shouting at duke to keep up.",
   "You weave between trees, following the call of nature and the soft dripping taps of water hitting the stones. It’s only thirty meters ahead when you finally reach the destination of the dripping sound. You locate a small-scale quaint pond. A single kestrel bathes itself. Despite your parchedness and aching body, you feel quite at peace.",
   "You limp over to the edge of the pond, kneel to the ground and splash the refreshing crisp water against your face. You feel the nerves in your body unwind at its touch. Cupping both your muddy hands together and diving them into the water before reeling them back to your face to lap at the droplets before they drain through your loose grip. You stay hunched over the pool of water until you've completely quenched your thirst. You prop yourself against a large boulder and rest while you can... Your jolted awake. A twisting sensation erupts in your stomach. It gurgles at you in agony. You grip at your intestines before peeling over and hitting the ground, folding yourself into a fetal position.",
   "The icy air beats on your face, you hug your arms for warmth. Looking across the open fields of tall grass and expansive rows of trees makes you feel small and powerless. You take a couple of steps forward listening to the soft crunches of dead grass fold beneath your feet. The forest is deadly silent but you endure. That is until you hear the same soft crunching sound not too far away...",
   "You must be closer to civilization than you thought! You start to smile at the thought of refuge, how lucky you are to have crashed so close to a villager or at least another person. You wonder if they have any food to spare, or medical supplies on them. Regardless you’ll always have time after you get out of the woodlands to check on your injuries. You shout in the direction of the footsteps. You hear the familiar crunch turn to your direction. Its soft patters spring into unruly thuds. Your heart sinks, the noise starting to ring in your ears. Your impulse commands you to run, but your injuries restrain your abilities. The horror hasn't fully set in when you feel the heat of its breath graze the nape of your neck.",
   "Dukes the only friend you have out here, and dogs have an unwavering sense of smell, maybe he smelt out something useful, or even tasty for that matter. Your stomach growls at the thought. You chase him down and trail behind him carefully. His ears bounce up and down attentively as he sniffs each shrub. You're tempted to pick some of the delicate blue colored berries off its branches but decide against it. Trusting in duke proves to be valuable, as he leads you to a freshly killed deer. You perk at the idea of food making your way closer to the corpse. The hairs on your arms stand tall. Your perspective widens as you notice the deer's mutilated body. Blood oozes from its hide, its lower legs a mangled fractured mess. five long cuts have been sliced into its body, freshly strained tissue spilling out from each slit. You choke at the sight of it.",
   "Unfortunately, food is food. Its only natural as is the cycle of life. You convince yourself your only finishing whatever that beast started. You lean over the deers disfigured body and attempted to drain it. Wouldn’t want any animals tracking your scent. As you prepare to mount the stag over your shoulders, Duke starts to bark in multiple directions, his tail suddenly tucked between his legs, shuddering and whining with each bark. It’s sudden, swift... You feel the air from its frantic raging plunge. Duke’s jaw unwillingly divides, his teeth ruptured from its gums. His mangled coffee-colored coat hacked away from his body. Its claws plunged clean through his soft tendons. His eyes now lifeless, empty orbs It throws its long pale arms down, its gaping mouth a spiral of craggy teeth. Duke's carcass pitifully glides off its pointed claws. You stare at his contorted body vacantly. While its chilling white eyes stare at you. ",
   "wake up to strange sounds",
   "wake up in the morning"
   ];

   stry.innerHTML = story[0];

   choice1.addEventListener('click', (event) => {
     console.log("clicked 1")
     if (stry.innerHTML == story[0]){
       stry.innerHTML = story[13];
       choice1.innerHTML = "Approach";
       choice2.innerHTML = "search for supplies";
     } else if (stry.innerHTML == story[13]) {
       stry.innerHTML = story[14];
     } else if (stry.innerHTML == story[1]) {
       stry.innerHTML = story[2];
       choice1.innerHTML = "Follow Duke’s lead";
       choice2.innerHTML = "Find a way to start a fire";
     } else if (stry.innerHTML == story[2]){
       stry.innerHTML = story[15];
       choice1.innerHTML = "Take deer back to cook";
       choice2.innerHTML = "Ignore";
     } else if (stry.innerHTML == story[15]){
       stry.innerHTML = story[16];
     } else if (stry.innerHTML == story[11]){
       stry.innerHTML = story[12];
     } else if (stry.innerHTML == story[9]){
       stry.innerHTML = story[10];
     } else if (stry.innerHTML == story[3]){
       stry.innerHTML = story[4];
       choice1.innerHTML = "Run";
       choice2.innerHTML = "Hide";
     } else if (stry.innerHTML == story[4]){
       stry.innerHTML = story[5];
       choice1.innerHTML = "RUN";
       choice2.innerHTML = "HIDE";
     } else if (stry.innerHTML == story[5]){
       stry.innerHTML = story[6];
     } else if (stry.innerHTML == story[7]){
       stry.innerHTML = story[5];
       choice1.innerHTML = "Run";
       choice2.innerHTML = "Hide";
     } else if (stry.innerHTML == story[8]){
       stry.innerHTML = story[9];
       choice1.innerHTML = "Rushing water";
       choice2.innerHTML = "Splashing water";
     } else if (stry.innerHTML == story[17]){
       stry.innerHTML = story[2];
       choice1.innerHTML = "Follow Duke’s lead";
       choice2.innerHTML = "Find a way to start a fire";
     } else if (stry.innerHTML == story[18]){
       stry.innerHTML = story[15];
       choice1.innerHTML = "take deer back to cook";
       choice2.innerHTML = "ingnore"
     }
   });

   choice2.addEventListener('click', (event) => {
     console.log("clicked 2")
     if (stry.innerHTML == story[13]){
       stry.innerHTML = story[1];
       choice1.innerHTML = "Explore";
       choice2.innerHTML = "wait until morning"
     } else if (stry.innerHTML == story[0]){
       stry.innerHTML = story[1];
       choice1.innerHTML = "Explore";
       choice2.innerHTML = "wait until morning"
     } else if (stry.innerHTML == story[2]){
       stry.innerHTML = story[3];
       choice1.innerHTML = "investigate";
       choice2.innerHTML = "Ignore";
     } else if (stry.innerHTML == story[2]){
       stry.innerHTML = story[3];
       choice1.innerHTML = "investigate";
       choice2.innerHTML = "Ignore";
     } else if (stry.innerHTML == story[15]){
       stry.innerHTML = story[3];
       choice1.innerHTML = "investigate";
       choice2.innerHTML = "Ignore";
     } else if (stry.innerHTML == story[3]){
       stry.innerHTML = story[9];
       choice1.innerHTML = "Rushing water";
       choice2.innerHTML = "Splashing water";
     } else if (stry.innerHTML == story[9]){
       stry.innerHTML = story[11];
       choice1.innerHTML = "Drink";
       choice2.innerHTML = "Go to rushing water";
     } else if (stry.innerHTML == story[11]){
       stry.innerHTML = story[10];
     }  else if (stry.innerHTML == story[4]){
       stry.innerHTML = story[7];
       choice1.innerHTML = "RUN";
       choice2.innerHTML = "Stay very still";
     } else if (stry.innerHTML == story[7]){
       stry.innerHTML = story[8];
       choice1.innerHTML = "Find water";
       choice2.innerHTML = "Find Food";
     } else if (stry.innerHTML == story[8]){
       stry.innerHTML = story[10];
     } else if (stry.innerHTML == story[5]){
       stry.innerHTML = story[8];
       choice1.innerHTML = "find water";
       choice2.innerHTML = "Find food";
     } else if (stry.innerHTML == story[1]){
       stry.innerHTML = story[17];
       choice1.innerHTML = "follow dog";
       choice2.innerHTML = "hold dog back";
     } else if (stry.innerHTML == story[17]){
       stry.innerHTML = story[18];
       choice1.innerHTML = "go find food";
       choice2.innerHTML = "go find firewood";
     } else if (stry.innerHTML == story[18]){
       stry.innerHTML = story[3];
       choice1.innerHTML = "investigate";
       choice2.innerHTML = "Ignore";
     }
   });
</script>
  </body>
</html>
