body {
  background-image: url("https://hdqwalls.com/download/dark-night-forest-view-5k-io-1920x1080.jpg");
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.footer {
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 9;
  grid-row-end: 12;
}

.item {
  font-size: 32px;
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  text-align: center;
  white-space: nowrap;
  padding: 20px 10px;
  min-width: 145px;
}

p {
  background-color: white;
}

#row1 {

}

#row2 {

}

#row3 {


}
