body {
  background-image: url("https://hdqwalls.com/download/dark-night-forest-view-5k-io-1920x1080.jpg");
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  align-content: center;
}

/*login.html below*/

.item, #title {

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 250px;
  text-align: center;

  /* font-size: 32px; */
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  text-align: center;
  white-space: nowrap;
  padding: 20px 10px;
  min-width: 145px;
  justify-content: flex-end;

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 500px;
}

p {
  background-color: #D2D6D1; /*gray-ish*/
  border-radius: 12px;
  text-decoration: none;
  color: black;
  padding: 20px 20px;
  text-indent: 50px;
  font-family: "Arial Black", Gadget, sans-serif;
  box-shadow: inset rgba(25, 53, 64, 0.7) -10px -10px 25px,
              inset rgba(25, 53, 64, 0.7) 10px 10px 25px;
}

#line1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 500px;
}

/* #Footer {
  font-size: 20px;
  background-color: gray;
  margin-top: 450px;
  flex-grow: 2;
  height: 20px;
} */

.cc{
  font-size: 50px;
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  text-align: center;
  white-space: nowrap;
  padding: 20px 10px;
  min-width: 145px;
  justify-content: flex-end;
  margin-right: 350px;
}/*end login.html*/


/*story.html below*/

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -15%;
  margin-left: -25%;
  text-align: center;
  width: 50%;
}

button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: #3b8f50; /* Green */
  color: white;
}

#home {
  background-color: white;
  color: #193540;
}

#choice1, #choice2 {
  background-color: #193540; /* Green */
  color: white;
}
