.container {
  background-image: url("https://hdqwalls.com/download/dark-night-forest-view-5k-io-1920x1080.jpg");
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.footer {
  background-color: white;
  grid-column: span 12;
  grid-row: span 3;
}

.image {
  grid-column: span 1/12;
  grid-row: span 1/12;
}
